
@font-face {
    font-family:"poppins400";
    src: url(../font/Poppins-Regular.ttf);
  }
  
  @font-face {
    font-family: "poppins500";
    src: url(../font/Poppins-Medium.ttf);
  }
  
  @font-face {
    font-family: "poppins600";
    src: url(../font/Poppins-SemiBold.ttf);
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: rgb(195, 99, 204);
  }
 

  input{
    padding: 20px 200px;
    border-radius: 10px;
    border-color: blue;
    width:100%;
   
  }
  button{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: blue;
    color: aliceblue;
    font-family: 'poppins400';
  }
  .modal {
    border: 1px solid black;
    padding: 20px;
    display: none;
    width: 100%;
    height: 100%;
  }
  .modal-content {
    max-width: 600px;
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
  
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
  }
  .modal-body {
    padding: 30px;
  }
  .modal.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .modal-close {
    background-color: red;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  .open-modal {
    margin: 50px 0;
  }
  .input-field:has(input[required]) label::after {
    content: "*";
    color: red;
  }
  input.error {
    border: 3px solid red;
  }
  input.correct {
    border: 3px solid green;
  }
  

  label{

    font-size: 18pt;
    color:black;
    font-family: 'poppins400';
    
  }

  .Registration_form{
    background-color: blueviolet;
    max-width: 1000px;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
  }
  h1{
    font-family: 'poppins600';
    color:black;
    font-size: 40pt;
    margin: auto;
    padding: 20px;
    
  }

  form{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 25px;
  }
  .open-sign-in{
    display: flex;
  }
  .error-message {
    display: block;
    height: 30px;
    margin-top: 10px;
    color: red;
    width: 70%;
    margin-left: 30%;
    text-align: right;
  }


   
